
<div id="card" class="h-100 w-100 justify-content-around">
  <img class="card-img-top rounded-top-5 w-100 avatar" src={{c.avatar}} alt="{{c.firstName}} {{c.name}}">
  <div class="card-body text-center ">
    <h4 class="card-title text-center py-3">{{c.name|upper}} {{c.firstName}}</h4>
    <ul class="list-group">
        <li class="list-group-item h-30">Sexe : <span class="bg-{{c.sex ? "warning" : "success"}}">{{c.sex ? "Femme" : "Homme" }}</span></li>
        <li class="list-group-item text-wrap ">Adresse : {{c.street}} {{c.cp}} {{c.city}}</li>
        <li class="list-group-item text-wrap ">Email : {{c.mail}}
        <li class="list-group-item text-wrap ">Categorie : <a href="{{path('detailCategorie', {'id':c.categorie.id, 'prevCont' : c.id})}}">{{c.categorie.libelle}}</a>
    </ul>
    {% if contactList|length is same as(1) %}
      <a href="{{path('contacts')}}" class="btn btn-danger">Retour</a>
    {% endif %}
    {% if contactList|length > 1 %}

      <a href="{{path('ficheContact', {'id':c.id})}}" class="btn btn-danger">Fiche</a>
    {% endif %}
  </div>
</div>